# Loading Boston Housing Prices

In [ ]:
#Import numpy
import numpy as np

In [ ]:
#import the module datasets from the sci-kit learn library

from sklearn import datasets

In [ ]:
#Load the Boston housing prices dataset and assign it to an object housing

housing = datasets.load_boston()

In [ ]:
#Display housing

housing

In [ ]:
#Display feature names
housing.feature_names

In [ ]:
#Display target variable values

housing.target

In [ ]:
#Transform the housing object into a Pandas dataframe to 
#make it easier to work with

#First we import pandas library

import pandas as pd

In [ ]:
#Convert the dataset housing into a pandas dataframe called housing_df
# using the function DataFrame()

housing_df = pd.DataFrame(data = housing.data, columns = housing.feature_names)

In [ ]:
#Display first 5 observations of the converted data

housing_df.head()

In [ ]:
#We need to add the target variable "price"

#To add the target column, use the attribute target

housing_df["Price"] = pd.Series(housing.target)

In [ ]:
#Display complete dataframe

housing_df.head()

# Loading Iris datasets

In [ ]:
#Loading Iris dataset

iris = datasets.load_iris()

In [ ]:
#Display Iris

iris

In [ ]:
#Display feature names
iris.feature_names

In [ ]:
#Display target variable values

iris.target

In [ ]:
#Transform the housing object into a Pandas dataframe to 
#make it easier to work with

#First we import pandas library

import pandas as pd

In [ ]:
#Convert the dataset housing into a pandas dataframe called iris_df
# using the function DataFrame()

iris_df = pd.DataFrame(data = iris.data, columns = iris.feature_names)

In [ ]:
#Display first 5 observations of the converted data

iris_df.head()

In [ ]:
#We need to add the target variable "Category"

#To add the target column, use the attribute target

iris_df["Category"] = pd.Series(iris.target)

In [ ]:
#Display first five observations of complete/combined dataframe

iris_df.head()

# Loading Digits dataset

In [ ]:
#Load the Digits dataset and assign it to an object housing

digits = datasets.load_digits()

In [ ]:
#Display digits

digits

In [ ]:
#Display feature names
digits.feature_names

In [ ]:
#Display target variable values

digits.target

In [ ]:
#Use matplotlib to plot digits dataset

from sklearn import datasets

import matplotlib.pyplot as plt

# Load the digits dataset
digits = datasets.load_digits()

# Display the last digit
plt.figure(1, figsize=(3, 3))
plt.imshow(digits.images[-1], cmap=plt.cm.gray_r, interpolation="nearest")
plt.show()

In [ ]:
#Convert the dataset housing into a pandas dataframe called digits_df
# using the function DataFrame()

digits_df = pd.DataFrame(data = digits.data, columns = digits.feature_names)

In [ ]:
#Display first 5 observations of the converted data

digits_df.head()

In [ ]:
#We need to add the target variable

#To add the target column, use the attribute target

digits_df["Target"] = pd.Series(digits.target)

In [ ]:
#Display first five observations of complete/combined dataframe

digits_df.head()

# Loading Diabetes dataset

In [ ]:
#Load the Boston housing prices dataset and assign it to an object housing

diabetes = datasets.load_diabetes()

In [ ]:
#Display diabetes

diabetes

In [ ]:
#Display feature names
diabetes.feature_names

In [ ]:
#Display target name
diabetes.target

In [ ]:
#Convert the dataset housing into a pandas dataframe called diabetes_df
# using the function DataFrame()

diabetes_df = pd.DataFrame(data = diabetes.data, columns = diabetes.feature_names)

In [ ]:
#Display first 5 observations of the converted data

diabetes_df.head()

In [ ]:
#We need to add the target variable

#To add the target column, use the attribute target

diabetes_df["Target"] = pd.Series(diabetes.target)

In [ ]:
#Display first five observations of complete/combined dataframe

diabetes_df.head()

# Loading Linnerud dataset

In [ ]:
#Load the linnerdud prices dataset and assign it to an object housing

linnerud = datasets.load_linnerud()

In [ ]:
#Display linnerud

linnerud

In [ ]:
#Display feature names
linnerud.feature_names

In [64]:
#Display target name
linnerud.target

array([[191.,  36.,  50.],
       [189.,  37.,  52.],
       [193.,  38.,  58.],
       [162.,  35.,  62.],
       [189.,  35.,  46.],
       [182.,  36.,  56.],
       [211.,  38.,  56.],
       [167.,  34.,  60.],
       [176.,  31.,  74.],
       [154.,  33.,  56.],
       [169.,  34.,  50.],
       [166.,  33.,  52.],
       [154.,  34.,  64.],
       [247.,  46.,  50.],
       [193.,  36.,  46.],
       [202.,  37.,  62.],
       [176.,  37.,  54.],
       [157.,  32.,  52.],
       [156.,  33.,  54.],
       [138.,  33.,  68.]])

In [60]:
#Convert the dataset housing into a pandas dataframe called linnerud_df
# using the function DataFrame()

linnerud_df = pd.DataFrame(data = linnerud.data, columns = linnerud.feature_names)

In [61]:
#Display first 5 observations of the converted data

linnerud_df.head()

   Chins  Situps  Jumps
0    5.0   162.0   60.0
1    2.0   110.0   60.0
2   12.0   101.0  101.0
3   12.0   105.0   37.0
4   13.0   155.0   58.0

In [63]:
#Display first five observations of complete/combined dataframe

linnerud_df.head()

   Chins  Situps  Jumps
0    5.0   162.0   60.0
1    2.0   110.0   60.0
2   12.0   101.0  101.0
3   12.0   105.0   37.0
4   13.0   155.0   58.0

In [ ]:
import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
    
  warnings.warn(msg, category=FutureWarning)